.container {
    margin: 0 auto;
    width: max-content;
}

table tr td {
    border: 1px solid black;
}

td {
    width: 25px;
    height: 25px;
}

.active {
    background-color: rgb(41, 29, 29);
}

.table:only-child {
    background-image: radial-gradient(circle, rgb(5, 0, 0), rgb(126, 126, 103));
}

.table tr td {
    border-color: rgb(238, 215, 215);   

}

.table .active {
    background-color: rgb(250, 250, 248);
}