@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,700i');


.header {
    background-color: #373c3f;
}

.nawbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.header-logo {
    background-image: url(../img/navigation-logo.png);
    background-repeat: no-repeat;
    width: 104px;
    height: 83px;
}

.header-text {
    font-family: '﻿Montserrat-Medium', sans-serif;
    color: rgba(255, 255, 255, 255);
}

.main-screen-text {
    font-family: '﻿Lato-Italic', Lato-Bold, sans-serif;
    color: rgba(255, 255, 255, 255);
}


.main-screen-mail {
    font-family: '﻿Lato-BoldItalic', sans-serif;
    color: rgba(166, 214, 224, 255);
}

.open-menu-btn {
    cursor: pointer;
}

.drop-menu-item {
    cursor: pointer;
}



    .container {
        min-width: 320px;
       max-width: 1200px;
        margin: 0 auto;
    }


@media (max-width: 639px) {
    .header-text {
        font-size: 12px;
        padding: 12px 0 12px 19px;
    }

    .drop-menu.active {
        display: none;
    }

    .drop-menu {
        position: absolute;
        right: 0;
    }


    .drop-menu-item {
        background-color: #fafafa;
        padding: 10px 0 10px 15px;
        font-family: '﻿Lato-Regular', sans-serif;
        color: rgba(68, 68, 68, 255);
        border: 1px solid #ececec;
    }

    .drop-menu-item:hover {
        background-color: #f5f5f5;
    }


    .main-screen {
        display: inline-block;
        background-image: url(../img/headerFon640px.jpg);
        background-repeat: no-repeat;
        width: 100%;

    }

    .open-menu-btn {
        background-color: #202529;
        text-decoration: none;
        color: rgba(255, 255, 255, 255);
    }

    .main-screen-text {
        font-weight: bold;

    }

    .main-screen-mail {
        font-weight: bold;
    }

    .header-logo {
        display: none;
    }
}

@media (max-width: 479px) {
    .drop-menu {
        top: 40px;
        width: 161px;
    }

    .drop-menu-item {
        font-size: 11px;
    }

    .main-screen-text {
        font-size: 15px;
        padding-left: 21px;
        padding-top: 11px;
        line-height: 23px;
    }

    .main-screen-mail {
        font-size: 13px;
        padding-left: 20px;
        padding-top: 6px;
    }

    .open-menu-btn .fa-bars {
        font-size: 16px;
        padding: 12px;
    }

    .open-menu-btn .fa-times {
        font-size: 16px;
        padding: 12px 14px 12px 13px;
    }

    .main-screen {
        height: 170px;
    }
}

@media (min-width: 480px) and (max-width: 639px) {

    .header-text {
        font-size: 24px;
        padding: 26px 0 26px 38px;
    }

    .drop-menu {
        top: 76px;
        width: 214px;
    }

    .drop-menu-item {
        font-size: 14px;
    }

    .main-screen-text {
        font-size: 26px;
        padding-left: 38px;
        padding-top: 26px;
        line-height: 37px;
    }

    .main-screen-mail {
        font-size: 20px;
        padding-left: 37px;
        padding-top: 11px;
    }

    .open-menu-btn .fa-bars {
        font-size: 30px;
        padding: 23px;
    }

    .open-menu-btn .fa-times {
        font-size: 30px;
        padding: 23px 25px 23px 26px;
    }

    .main-screen {
        height: 300px;
    }
}

@media (min-width: 640px) {
    .header-text {
        display: none;
    }

    .open-menu-btn {
        display: none;
    }

    .drop-menu {
        display: flex;
        padding-left: 25px;
    }

    .drop-menu-item {
        font-family: '﻿AdobeInvisFont', sans-serif;
        font-size: 15px;
        color: rgba(255, 255, 255, 255);
        padding: 40px 12px 40px 12px;
    }

    .header-logo {
        margin-right: 30px;
    }

    .main-screen-text {
        font-size: 54px;
        line-height: 60px;
        padding-top: 30px;
        padding-left: 30px;
    }

    .main-screen-mail {
        font-size: 34px;
        padding-top: 50px;
        padding-left: 30px;
    }
}


@media (min-width: 640px) and (max-width: 979px) {

    .main-screen {
        background-image: url(../img/header-fon980px.png);
        height: 430px;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }


}

@media (min-width: 980px) {
    .main-screen {
        background-image: url(../img/header-fon1200.png);
        background-repeat: no-repeat;
        height: 630px;
        background-size: cover;
    }

}

/* main-screen end */
/* gallary start */
.prodycts-galary {
    margin-top: 5px;
    display: flex;
}

.prodycts-galary-item {
    justify-content: center;
    align-items: center;
}

.prodycts-galary-item.pizza {
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;

}

.prodycts-galary-item.salads {
    margin-top: 2px;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
}

.prodycts-galary-item.desserts {
    margin-top: 2px;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
}

.prodycts-galary-item {
    display: flex;
}

.products-galary-text {
    font-family: 'Lato-Bold', sans-serif;
    color: rgba(255, 255, 255, 255);
}

.prodycts-galary-item .fas {
    color: #ffffff;
}


@media (max-width: 639px) {

    .prodycts-galary-item {
        justify-content: space-between;
        height: 75px;
    }

    .prodycts-galary-item.desserts {
        background-image: url(../img/Desserts-fon.png);
        background-position-y: -40px;
    }

    .prodycts-galary-item.pizza {
        background-image: url(../img/Pizza-delivery-fon.png);
        background-position-y: -280px;

    }

    .prodycts-galary-item.salads {
        background-image: url(../img/UA_UX-Salads-fon.png);
        background-position-y: -186px;

    }

    .products-galary-slice {
        width: 73px;

    }

    .pizza .products-galary-text {
        font-size: 20px;
        padding-left: 60px;

    }

    .salads .products-galary-text {
        padding-left: 74px;
        font-size: 20px;

    }

    .desserts .products-galary-text {
        padding-left: 82px;
        font-size: 20px;

    }
}

@media (max-width: 979px) {

    .prodycts-galary {
        flex-direction: column;

    }

    .prodycts-galary-item {
        justify-content: space-between;

    }

    .products-galary-slice {
        background-color: #acd8ad;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 640px) and (max-width: 979px) {

    .prodycts-galary-item {
        height: 140px;
    }

    .products-galary-slice {
        width: 140px;
    }

    .prodycts-galary-item.pizza {
        background-image: url(../img/Pizza-delivery640.png);
        background-position-y: -406px;
    }

    .prodycts-galary-item.salads {
        background-image: url(../img/UA_UX-Salads640.png);
        background-position-y: -406px;

    }

    .prodycts-galary-item.desserts {
        background-image: url(../img/Desserts640.png);
        background-position-y: -50px;

    }

    .products-galary-text {
        font-size: 36px;
    }

    .prodycts-galary-item.pizza {
        padding-left: 135px;
    }

    .prodycts-galary-item.salads {
        padding-left: 135px;
    }

    .prodycts-galary-item.desserts {
        padding-left: 180px;
    }
}

@media (min-width: 980px) {
    .products-galary-slice {
        display: none;
    }

    .prodycts-galary {
        flex-direction: row;
    }

    .prodycts-galary-item {
        width: 33.3%;
    }


    .prodycts-galary-item.pizza {
        background-image: url(../img/Pizza-delivery640.png);
        margin-top: 2px;

    }

    .prodycts-galary-item.salads {
        background-image: url(../img/UA_UX-Salads640.png);

    }

    .prodycts-galary-item.desserts {
        background-image: url(../img/Desserts640.png);

    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .prodycts-galary-item {
        height: 327px;
    }

    .products-galary-text {
        font-size: 38px;
    }

}

@media (min-width: 1200px) {
    .prodycts-galary-item {
        height: 400px;
    }

    .products-galary-text {
        font-size: 43px;
    }
}


/* gallary end */
/* menu start */
.menu-page {
    margin-top: 22px;
}

.menu-title {
    font-family: ' Lato-Regular', sans-serif;
    color: rgba(63, 64, 67, 255);
    text-transform: uppercase;
    text-align: left;
}

.menu-info-text {
    font-family: ' Lato-Regular', sans-serif;
    color: rgba(203, 204, 206, 255);
}

table {
    font-family: ' Lato-Regular', sans-serif;

}


td img {
    height: 25px;
}

td:first-child {
    color: rgba(63, 64, 67, 255);
}

.menu-page-food {
    margin-top: 11px;
    width: 100%;

}

.menu-page-bar {
    margin-top: 23px;
}

.menu-page-food th {
    background-color: #3f4043;
    color: rgba(172, 216, 173, 255);
    text-transform: uppercase;
}

td:nth-child(2) {
    font-weight: bold;
}

.menu-page-bar th {
    background-color: #acd8ad;
    text-transform: uppercase;
    color: #ffffff;
}


.menu-page-topic {
    color: rgba(63, 64, 67, 255);
    text-transform: uppercase;


}


@media (max-width: 639px) {
    .menu-page-topic {
        font-size: 15px;
        padding-left: 18px;
        padding-top: 17px;
        padding-bottom: 16px;

    }

    .menu-title {
        font-size: 19px;
        padding-left: 7px;
    }

    .menu-info-text {
        font-size: 10px;
        margin-top: 2px;
        margin-left: 9px;
    }

    .menu-page-food th {
        font-size: 20px;
        padding: 10px 0 6px 18px;
        text-align: left;

    }

    .menu-page-food img {
        height: 23px;
        padding-left: 16px;
    }

    .menu-page-bar th {
        font-size: 19px;
        padding: 10px 0px 8px 19px;
        text-align: left;

    }

    .menu-page-bar img {
        height: 20px;
        padding-left: 11px;
    }

    .menu-item {
        font-size: 13px;
        padding-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .menu-item-price {
        font-size: 14px;
    }

    .menu-item-description {
        font-size: 9px;
        padding-left: 18px;
        padding-top: 1px;
        padding-bottom: 6px;
    }
}

@media (min-width: 640px) and (max-width: 979px) {


    .menu-title {
        font-size: 26px;
        padding-left: 21px;
    }

    .menu-info-text {
        font-size: 14px;
        padding-left: 22px;
        padding-top: 10px;
    }

    .menu-page-bar th {
        font-size: 26px;
        padding: 23px 0 23px 37px;
        text-align: left;
    }

    .menu-page-bar {
        width: 100%;
    }

    .menu-page-food th {
        font-size: 26px;
        padding: 23px 0 23px 37px;
        text-align: left;
    }

    .menu-page-topic {
        font-size: 19px;
        padding-left: 38px;
        padding-top: 37px;
        padding-bottom: 36px;

    }

    .menu-page-food img {
        height: 40px;
    }

    .menu-page-bar img {
        height: 40px;
    }

    .menu-item {
        font-size: 20px;
        padding-left: 35px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .menu-item-price {
        font-size: 20px;
    }

    .menu-item-description {
        font-size: 12px;
        padding-left: 35px;
        padding-top: 1px;
        padding-bottom: 6px;
    }

}



@media (min-width: 980px) {
    .menu-icon {
        background-image: url(../img/Menu-logo-Icon.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;

    }
    .menu-page {
        margin-top: 73px;
    }

    .menu-bar {
        position: relative;
    }

    .menu-title {
        font-size: 28px;
        padding-left: 30px;
    }

    .menu-info-text {
        font-size: 14px;
        padding-left: 30px;
        padding-top: 10px;
    }

    .menu-icon {
        width: 109px;
        height: 89px;
        right: 29px;
        top: -22px;
    }

    .menu-page-topic {
        font-size: 19px;
        padding-left: 38px;
        padding-top: 37px;
        padding-bottom: 36px;

    }

    .menu-page-food {
        width: 50%;
        display: inline-block;
    }

    .menu-page-food img {
        height: 40px;
        padding-left: 15px;
    }

    .menu-page-bar img {
        height: 40px;
    }

    .menu-page-bar {
        width: 50%;
        display: inline-block;
        margin-left: -4px;
    }

    .menu-page-food th {
        font-size: 22px;
        padding: 25px 0 25px 17px;
        text-align: left;
    }

    .menu-page-bar th {
        font-size: 22px;
        padding: 25px 0 25px 17px;
        text-align: left;
    }

    .menu-item {
        font-size: 20px;
        padding-left: 35px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .menu-item-price {
        font-size: 20px;
    }

    .menu-item-description {
        font-size: 12px;
        padding-left: 35px;
        padding-top: 1px;
        padding-bottom: 6px;
    }


}


/* menu end */
/* footer start */
footer {
    background-color: #acd8ad;
    margin-top: 45px;
    margin-bottom: 20px;
}

footer p {
    color: rgba(255, 255, 255, 255);
    font-family: 'AdobeInvisFont', sans-serif;
    text-align: center;
}

@media (max-width: 639px) {

    .footer-text {
        font-size: 13px;
        padding-top: 11px;

    }

    footer p:last-child {
        font-size: 13px;
        padding-bottom: 12px;
        padding-top: 7px;
    }
}

@media (min-width: 640px) {

    .footer-text {
        font-size: 18px;
        padding-top: 25px;
    }

    footer p:last-child {
        font-size: 18px;
        padding-top: 11px;
        padding-bottom: 25px;

    }
}

@media (min-width: 980px) {
    footer p {
        display: inline-block;
    }

    .footer-text {
        padding-top: 40px;
        padding-bottom: 40px;

    }

    footer p:last-child {
        padding-right: 30px;

    }
    footer {
        position: relative;
        text-align: right;
    }

    .footer-logo {
        position: absolute;
        display: inline-block;
        background-image: url(../img/navigation-logo.png);
        background-repeat: no-repeat;
        height: 83px;
        width: 104px;
        top: 7px;
        left: 30px;

    }

}

@media (min-width: 1200px) {
    .footer-logo {
        left: 37px;
    }
}


/* footer end */